@import 'resets';

.expertise-section {
	padding: 6em 0;
	margin-bottom: 5em;
	background: linear-gradient(90deg, $dominantColor, $darK);

	.container {
		@include width-mixin();

		.text-wrap {
			.heading-title {
				font-family: 'Poppins', sans-serif;
				font-weight: 800;
				max-width: 500px;
				font-size: 32px;

				text-transform: capitalize;
				color: $light;
				line-height: 0;
				margin-bottom: 1em !important;
			}

			.subhead {
				@include text-mixin();
				// color: $colorTextPrimary;
				color: $light;
			}

			.keypoints-wrap {
				display: grid;
				gap: 1em;

				.card {
					height: 300px;
					width: 100%;
					// background: $darK;
					border-radius: 10px;
					position: relative;
					overflow: hidden;
					// padding-top: 2em;

					.icon-wrap {
						position: absolute;
						width: 100px;
						right: -7%;
						bottom: -6%;
						display: none;

						.img {
							height: 100%;
							width: 100%;
							object-fit: cover;
						}
					}

					.heading {
						font-size: 25px;
						color: $accent-color;
						width: 85%;
						margin: 0 auto;
						margin-bottom: 1em;
					}

					.text {
						@include text-mixin();
						color: $light;
						width: 85%;
						margin: 0 auto;
					}
				}

				@media screen and (min-width: 43em) {
					display: flex;
				}

				@media screen and (min-width: 62em) {
					display: flex;
					margin: 0 auto;
					justify-content: space-between;
				}
			}

			@media screen and (min-width: 43em) {
				.heading-title {
					margin: 0 auto 0.5em auto;
					text-align: center;

					@media screen and (min-width: 62em) {
						font-size: 3rem;
						max-width: 700px;
					}
				}

				.subhead {
					text-align: center;
					max-width: 550px;
					margin: 0 auto 4em auto;
				}
			}
		}

		.intro-link {
			text-align: center;
			background: $accent-color;
			padding: 2em;

			@media screen and (min-width: 62em) {
				width: 50%;
				margin: 0 auto;
			}
		}
	}
}
